<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="stud" class="com.csi.secondary.Student">
		<constructor-arg name="id" value="201"></constructor-arg>
		<constructor-arg name="name" value="Balram"></constructor-arg>
	</bean>
	
	<bean id="college" class="com.csi.secondary.College">
		<constructor-arg name="address" value="Pune"></constructor-arg>
		<constructor-arg name="student" ref="stud"></constructor-arg>
	</bean>
	

</beans>